images/
noted_html_files/
html_examples/document_object_model.html
html_examples/form.html
html_examples/hello.html
html_examples/table.html
styles.css
lecture_0/

html_examples/document_object_model.html
html_examples/form.html
html_examples/hello.html
html_examples/table.html

project_requirments.py
css/   
html/

frontend_masters/website/template.html