
.header {
    background-color: blue;
    font-family: 'Barlow', sans-serif;
    border: 30px solid blue;
}

.main-headline {
    margin: 5px;
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    background-color: blue;
    font-family: 'Barlow', sans-serif;

}

.headline-text {
    margin: 5px;
    text-align: left;
    font-size: 30px;
    font-style: italic;
    color: white;
    padding-bottom: 10px;
    padding-left: 10px;
}

.row {
    display: flex;
    align-items: stretch;
}

.story {
    border: 1px solid black;
    font-family: 'Barlow', sans-serif;
}

.quarter {
    size: 25%;
}

.half {
    size: 50%;
}

.story-headline {
    padding-left: 5px;
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
}


.story-text {
    line-height: 1.2;
    padding-left: 5px;
}

.item-emphasis {
    font-weight: bold;
}


